*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body
{
    /* background-image: linear-gradient(to top, #080909, #3d3e3e, #757876, #b4b6b4, #f8f9f5); */
    height: auto;
    width: 100%;
    background-color: black;
}

h1
{
    text-align: center;
    color: #ccc;
}
.form
{
    margin-top: 40px;
    margin-left:390px;
    position: relative;
    width: 35%;
    padding: 30px;
    font-size:15px;
    background-color:rgb(75, 4, 16);
    box-shadow: 0 0 12px 12px white;
}

.form input,select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #ccc;
}

#btn
{
    width: 100%;
    background-color: rgb(20, 19, 19);
    color: #ccc;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius:0 50px;
    font-size: 12px;
    opacity: 1;
}

#btn:hover
{
  background-color: blue;

}

span
{
    color: white;
    font-size: 15px;
}